:root {
    cursor: none;
}

body {
    background-color: black;
    /* background-color: ; */
    color: darksalmon;
    font-family: sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
    cursor: none;
}

.container {
    position: absolute;
    top: 5%;
    /* bottom: 0; */
    right: 0;
    left: 0;
    margin-left: 2%;
    margin-right: 2%;
    margin: auto;
    /* text-align: center; */
    width: 100%;
    overflow: hidden;
}

.playtext {
    font-size: 12vw;
    text-align: center;
    overflow: hidden;
    /* width: 100%; */
}