.card {
    padding: 20px;
    background-color: #f0f0f0;
    flex: 1;
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
}

.ico {
    padding: 16px;
}
.card:hover {
    background-color: rgb(228, 184, 228);
    cursor: pointer;

}
.card-active {
    background-color: rgb(124, 7, 124) !important;
    color: white !important;
}
.title {
    /* font-size: larger;
    font-weight: bold; */
}
.name {
    font-size: larger;
    font-weight: bold;
}
.cards {
    display: flex;
}
@media only screen and (max-device-width : 1000px) {
    .cards {
        flex-direction: column;
    }
}