<style>
    .g-disabled {
        color: gray;
        font-weight: normal;
    }

    .g-enabled {
        color: white;
    }

    .g-ct {
        /* text-align: center; */
        /* float: right; */
        padding-top: 4px;
        font-size: 20px;
        font-weight: bold;
    }

    .g-h1 {
        color: light gray;
        text-align: center;
        font-size: 18px;
        padding-top: 16px;
        padding-bottom: 8px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .gcs {
        cursor: pointer;
    }

    .g-btn {
        background-color: #505050;color:#d0d0d0; border-radius: 20px;padding:8px;
    }

    .g-btn:hover {
        background-color: black;
        color: white;
        cursor: pointer;
    }

    .scale-box {
        background: linear-gradient(to right, #003f5c, #006987, #009596, #00c084, #73e557, #f6ff00, red); /* Standard syntax (must be last) */
        width: 100%;
        height: 30px;
    }

    #top-countries div[onclick]:hover {
        background-color: black !important;
        color: white !important;
        cursor: pointer;
    }
</style>

<div>
    <div class='g-h1'>
        <span id='g-top-what' class='g-enabled' onclick="usa.onShowTops()">Top states</span> 
        <!-- <span>&mdash;</span> <span class='g-disabled' onclick="usa.onShowStrains()">Strains</span> -->
        <!-- <span>&mdash;</span> <span class='g-disabled'>Charts</span> -->
    </div>

    <div style='padding-top:8px;padding-bottom: 18px;'>
        <span id='gcs-cases' onclick='usa.onSelectStatsMode("cases")' class='gcs g-enabled'>confirmed cases</span> &mdash;
        <span id='gcs-deaths' onclick='usa.onSelectStatsMode("deaths")' class='gcs g-disabled'>deaths</span> 
        <!-- &mdash; <span id='gcs-recovieries' onclick='usa.onSelectStatsMode("recovieries")' class='gcs g-disabled'>recoveries</span> -->
    </div>

    <div id='top-countries'>
        <!-- <div style='background-color: darkgreen;color: white;padding: 8px;font-weight: bold;text-align: left;'>
            <span>China</span>
            <span style='float:right;'>1,000,000</span>
        </div>
        <div style='background-color: darkgreen;color: white;padding: 8px;font-weight: bold;text-align: left;'>
            United States
        </div> -->
    </div>

    <p id="displayed-list"></p>

    <div>

        <div class='scale' id='usa-scale-country'>
            <p>Map scale &mdash; Cases per 100,000</p>

            <span style='float:right;color:black;padding:4px;'>8,000+</span>
            <span style='float:left;color:white;padding:4px;'>50</span>
            <div class='scale-box'></div>    
        </div>
        <div class='scale' id='usa-scale-counties'>
            <p>Map scale &mdash; Cases per 10,000</p>

            <span style='float:right;color:black;padding:4px;'>30+</span>
            <span style='float:left;color:white;padding:4px;'>2</span>
            <div class='scale-box'></div>    
        </div>
    </div>

</div>