body {
    background: linear-gradient(275deg, #91349e, #005bff);
    background-size: 400% 400%;
}

/* == Background Animations == */

.animatedgradient {
    -webkit-animation: AnimatedGradient 10s ease infinite;
    -moz-animation: AnimatedGradient 10s ease infinite;
    animation: AnimatedGradient 10s ease infinite;
}

@-webkit-keyframes AnimatedGradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimatedGradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimatedGradient { 
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

/* == End Background Anims == */

/* Prevent overflow due to animations */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
