body {
    /* margin-left: 5%;
    margin-right: 5%; */
    /* margin-top: 5%; */
    margin-top: 1%;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    color: white;
}

@media only screen and (min-width: 900px) {
    body {
    font-size: 30px;
    }
}

thead {
    border: solid;
    border-color: black;
}

.title {
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.gameboard {
    /* Below fixes a bug in iOS Safari or Bootstrap (or just a victim of undefined behavior)
    https://github.com/twbs/bootstrap/issues/25842 */
    max-width: inherit;

    background-color: navy;
    background-size: 50%;
    border: solid;
    border-color: white;
    text-align: center;
    overflow: scroll;
}

.gameboard td:hover {
    background-color: blue;
    cursor: pointer;
}

.boardopt-used {
    background-color: black !important;
    color: gray;
}

.teams li {
    width: 170px;
    text-align: center;
}

.text {
    font-size: large;
    text-align: center;
}

.a-block div {
    width: 100%;
    height:75%;
    border-color:white;
    border:solid;
    text-shadow: 2px 2px 2px black;
}

.teams {
    margin-left: 6px;
    margin-right: 6px;
}

@media only screen and (min-width: 1001px) {
    .teams {
        margin: auto;
        width: 800px;
    }
}

.question-screen-parent {
    max-width: 100%;
}

.question-screen {
    border: solid;
    color: white;
    background-color: navy;
    width: 100%;
    text-align: center;
}

.modal-backdrop.show {
    opacity: 0.95;
}

.list-inline {
    padding-left: 0px;
}

.active-team {
    border: solid;
    border-color: black;
    background-color: white;
}

.active-team span {
    color: black;
}