/* Prevent overflow due to animations */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    /* background: linear-gradient(to right, blue, purple); */
    
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
    color: white;
    overflow-x: hidden;
}

.title {
    font-size: 64px;
    text-align: center;
}

.content {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    text-align: center;
}

p {
    color: lightgray;
}

footer {
    color: lightgray;
    font-size: 16px;
}

.m-divider {
    visibility: visible;
}

/* == Responsive CSS == */

@media only screen and (min-height: 700px) { /* Match Desktops */
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        text-align: center;
    }

    .m-divider {
        visibility: hidden;
    }
}

@media only screen and (max-width: 500px) { /* Match Mobile */
    .title {
        font-size: 40px;
        text-align: center;
    }
}